<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Generation and Recommendation Platform</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    {% block content %}
        <!-- Content will be injected here -->
    {% endblock %}
    <script src="{{ asset('js/main.js') }}"></script>
</body>
</html>
